div{
  border: black solid 1px;
  border-radius: 3px;
  height: 30px;
  padding: 3px 10px;
}
body{
  background-color: aliceblue;
}
button{
  padding: 3px;
  border: black solid 1px;
  border-radius: 3px;
}
